/*-------------------------
	Simple reset
--------------------------*/


*{
	margin-right:100px;
	padding:0;
}

/*----------------------------
	Green filter bar
-----------------------------*/


#filter {
	background: #4169E1;
	display: block;
	height: 39px;
	margin: 55px auto;
	position: relative;
	width: 700px;
	text-align:center;

    -moz-box-shadow:0 1px 1px #0000CD;
	-webkit-box-shadow:0 1px 1px #0000CD;
	box-shadow:0 1px 1px #0000CD;
}


#filter a{
	color: #FFFFFF;
	display: inline-block;
	height: 39px;
	line-height: 37px;
	padding: 0 51px;
	text-shadow:1px 1px 1px #315218;
}

#filter a:hover{
    background: #0000CD;
	text-decoration:none;
}

#filter a.active{
	background: #FFA500;
}


/*----------------------------
	Content area
-----------------------------*/


#container{
	display:block;
	overflow:hidden;
	width: 830px;
	margin:0 auto;
}

#container li{
    background: rgba(255, 255, 255, 0.1);
	float: left;
	height: 96px;
	list-style: none outside none;
	margin: 6px;
	position: relative;
	width: 125px;
}

#container ul{
	overflow:hidden;
}

#container ul.hidden{
	display:none;
}

#container .stageItem{
	-webkit-transition-duration: 0.5s;
}

#container .stageItem:hover{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}

.title{font-size:1.6em;line-height:1.5em;}


.overlay:hover{
    opacity: 1;
}

.overlay{
    opacity: 0;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
    
    background:rgba(29, 29, 27, 0.4);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:center;
    color:#fff;
}