{% if page.lang == "zh" %}
    <a target="_blank" href="https://github.com/polyvi/openxface-ios" class="button gh_button_blue">
      <small>访问</small>
      iOS 源码
    </a>
    <a href="https://github.com/polyvi/openxface/zipball/master" class="button download_button">
      <small>下载</small>
      .zip 文件
    </a>
    <a href="https://github.com/polyvi/openxface/tarball/master" class="button download_button">
      <small>下载</small>
      .tar.gz 文件
    </a>
    <a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=48f9d76d1a7d0d4c811c4b8c522780636b6f6226c2ba2ee6"><img alt="填写您的邮件地址，订阅我们的精彩内容：" border="0" src="{{site.baseurl}}/images/subscribe-button-zh.png"/></a>

    <p class="repo-owner"><a href="https://github.com/polyvi/openxface"></a>由<a href="https://github.com/polyvi">polyvi</a>维护.</p>
{% else %}
    <a target="_blank" href="https://github.com/polyvi/openxface-ios" class="button gh_button_blue">
      <small>Visit</small>
      iOS source
    </a>
    <a href="https://github.com/polyvi/openxface/zipball/master" class="button download_button">
      <small>Download</small>
      .zip file
    </a>
    <a href="https://github.com/polyvi/openxface/tarball/master" class="button download_button">
      <small>Download</small>
      .tar.gz file
    </a>
    <a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=48f9d76d1a7d0d4c811c4b8c522780636b6f6226c2ba2ee6"><img alt="Follow us on mailing list：" border="0" src="{{site.baseurl}}/images/subscribe-button-en.png"/></a>

    <p class="repo-owner"><a href="https://github.com/polyvi/openxface"></a> is maintained by <a href="https://github.com/polyvi">polyvi</a>.</p>
{% endif %}

