{% if page.lang == "zh" %}
    <a target="_blank" href="https://github.com/polyvi/openxface-android" class="button android_src">
      <small>访问</small>
      Android 源码
    </a>
    <a target="_blank" href="https://github.com/polyvi/openxface-ios" class="button ios_src">
      <small>访问</small>
      iOS 源码
    </a>
    <!-- <a href="https://github.com/polyvi/openxface/tarball/master" class="button wp_src">
      <small>访问</small>
      即将发布
    </a> -->
    <a href="{{ site.baseurl }}/download/xFacePlayer_Android.zip" class="button android_src">
      <small>下载 xFacePlayer</small>
      Android版
    </a>
    <a href="{{ site.baseurl }}/download/xFacePlayer_iOS.zip" class="button ios_src">
      <small>下载 xFacePlayer</small>
      iOS版
    </a>
    <!-- <a href="{{ site.baseurl }}/download/xFacePlayer_WP8.zip" class="button download_button">
      <small>下载 .xpa</small>
      xFacePlayer
    </a> -->
    <a href="{{ site.baseurl }}/download/PortableEmulator.zip" class="button download_button">
      <small>下载 模拟器 </small>
      便携版
    </a>
    <a href="{{ site.baseurl }}/download/ManualEmulator.zip" class="button download_button">
      <small>下载 模拟器 </small>
      手动版
    </a>

    <p class="repo-owner"><a href="https://github.com/polyvi/openxface"></a>由<a href="https://github.com/polyvi">Polyvi</a>维护</p>

{% else %}
    <a target="_blank" href="https://github.com/polyvi/openxface-android" class="button android_src">
      <small>Visit</small>
      Android
    </a>
    <a target="_blank" href="https://github.com/polyvi/openxface-ios" class="button ios_src">
      <small>Visit</small>
      iOS
    </a>
    <!-- <a target="_blank" href="https://github.com/polyvi/openxface-wp" class="button wp_src">
      <small>Visit</small>
      Coming Soon
    </a> -->
    <a href="{{ site.baseurl }}/download/xFacePlayer_Android.zip" class="button download_button">
      <small>Download xFacePlayer</small>
      for Android
    </a>
    <a href="{{ site.baseurl }}/download/xFacePlayer_iOS.zip" class="button download_button">
      <small>Download xFacePlayer</small>
      for iOS
    </a>
    <!-- <a href="{{ site.baseurl }}/download/xFacePlayer_WP8.zip" class="button download_button">
      <small>Download .xpa</small>
      xFacePlayer
    </a> -->
    <a href="{{ site.baseurl }}/download/PortableEmulator.zip" class="button download_button">
      <small>Download Emulator </small>
      Portable
    </a>
    <a href="{{ site.baseurl }}/download/ManualEmulator.zip" class="button download_button">
      <small>Download Emulator </small>
      Manual
    </a>

    <p class="repo-owner"><a href="https://github.com/polyvi/openxface"></a> is maintained by <a href="https://github.com/polyvi">polyvi</a>.</p>
{% endif %}

