{% if page.lang == "zh" %}
    <a target="_blank" href="https://github.com/polyvi/openxface-android" class="button android_src">
      <small>访问</small>
      Android 源码
    </a>
    <a target="_blank" href="https://github.com/polyvi/openxface-ios" class="button ios_src">
      <small>访问</small>
      iOS 源码
    </a>
    <a href="https://github.com/polyvi/openxface/tarball/master" class="button wp_src">
      <small>访问</small>
      即将发布
    </a>
    <a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=48f9d76d1a7d0d4c811c4b8c522780636b6f6226c2ba2ee6"><img alt="填写您的邮件地址，订阅我们的精彩内容：" border="0" src="{{site.baseurl}}/images/subscribe-button-zh.png"/></a>

    <p class="repo-owner"><a href="https://github.com/polyvi/openxface"></a>由<a href="https://github.com/polyvi">polyvi</a>维护.</p>
{% else %}
    <a target="_blank" href="https://github.com/polyvi/openxface-android" class="button android_src">
      <small>Visit</small>
      Android
    </a>
    <a target="_blank" href="https://github.com/polyvi/openxface-ios" class="button ios_src">
      <small>Visit</small>
      iOS
    </a>
    <a target="_blank" href="https://github.com/polyvi/openxface-wp" class="button wp_src">
      <small>Visit</small>
      Coming Soon
    </a>
    <a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=48f9d76d1a7d0d4c811c4b8c522780636b6f6226c2ba2ee6"><img alt="Follow us on mailing list：" border="0" src="{{site.baseurl}}/images/subscribe-button-en.png"/></a>

    <p class="repo-owner"><a href="https://github.com/polyvi/openxface"></a> is maintained by <a href="https://github.com/polyvi">polyvi</a>.</p>
{% endif %}

