<aside id="sidebar">
    {% if page.title == "openxface" %}
        {% include sidebar_main.html %}
    {% else %}
        {% include sidebar_contents.html %}
    {% endif %}

    <div id="copyright">
      <p>Copyright 2012-2015, Polyvi Inc.</p>
    </div>

    {% if page.lang == "zh" %}
    <a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=48f9d76d1a7d0d4c811c4b8c522780636b6f6226c2ba2ee6" class="button sub_button">
      订阅xFace
    </a>
    {% else %}
    <a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=48f9d76d1a7d0d4c811c4b8c522780636b6f6226c2ba2ee6" class="button sub_button">
        Subscribe xFace
    </a>
    {% endif %}
</aside>
