<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/js/site.js" ></script>

    {% if page.tags == "Player" %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slideshow/iOS_player_itunes/engine/css/slideshow.css" media="screen" />
    <script type="text/javascript" src="{{ site.baseurl }}/slideshow/iOS_player_itunes/engine/js/mootools.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/slideshow/iOS_player_itunes/engine/js/visualslideshow.js"></script>
    {% endif %}

    <title>Openxface by polyvi</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="{{ site.baseurl }}/index.html">Openxface</a></h1>
        <h2></h2>
        <a href="{{ site.baseurl }}/index_zh.html" class="button"><small>访问</small>中文站</a>

      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
            {% if page.title != "openxface" %}
                <h1><center>{{page.title}}</center></h1>
                <hr />
            {% endif %}
            {{ content }}
        </section>

        <aside id="sidebar">

        {% if page.title == "openxface" %}
          <a target="_blank" href="https://github.com/polyvi/openxface-ios" class="button gh_button_blue">
            <small>Visit</small>
            iOS source
          </a>
          <a href="https://github.com/polyvi/openxface/zipball/master" class="button download_button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/polyvi/openxface/tarball/master" class="button download_button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/polyvi/openxface"></a> is maintained by <a href="https://github.com/polyvi">polyvi</a>.</p>
        {% else %}
            <div id="aside-contents">
                <h2>xFace Guides</h2>

                <a href="{{ site.baseurl }}/guide/ams/xface_ams.html">Application Management System</a><br />
                <a href="{{ site.baseurl }}/guide/ams/xface_ams_native_apps.html">AMS for Native Apps</a><br />
                <a href="{{ site.baseurl }}/guide/ams/xface_app_en.html">What is xFace Application</a><br />
                <a href="{{ site.baseurl }}/guide/xface_configuration.html">Inside Configuration</a><br />
                <a href="{{ site.baseurl }}/guide/xFace/startparams/startparams_zh.html">Communicating with xFace</a><br />
                <a href="{{ site.baseurl }}/guide/xFace/xFaceLib/xFaceLib_zh.html">Embedding xFaceLib</a><br />
                <a href="{{ site.baseurl }}/guide/xFace/workspace/workspace_zh.html">xFace App Workspace</a><br />
                <a href="{{ site.baseurl }}/guide/player/player.html">xFace Player Usage</a><br /><br />

                <h2>Programming Guides</h2>

                <a href="{{ site.baseurl }}/guide/AppProgramming/index.html">Application Programming Guides</a><br />
                <a href="{{ site.baseurl }}/guide/supported_features.html">Supported Features</a><br />
                <a target="_blank" href="http://www.polyvi.net:8012/doc/xFaceSDK/">SDK Manual</a><br />
                <a href="{{ site.baseurl }}/guide/faq/faq.html">xFace FAQ</a><br /><br />

                <a href="{{ site.baseurl }}/index.html">Back To Home</a>
                <br />
            <div/>
        {% endif %}
        <div id="copyright">
          <p>Copyright 2012-2013, Polyvi Inc.</p>
        </div>
        </aside>
      </div>
    </div>

    <div class="current-section">
        <p class="name"></p>
        <a href="#top">Scroll to top</a>
    </div>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-42031908-1");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>

  </body>
</html>

